
body{
    background-image: url(../assets/mm.jfif);
    background-repeat: no-repeat ;
    background-size: cover;
    
}

input{
    text-align: centers;
}

textarea{
    resize: none;
}

h1, h2, b {
    background-color: burlywood;
}

form{
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2.0px );
-webkit-backdrop-filter: blur( 2.0px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
width: 500px;
margin: 50px 50px;
text-align: center;
}

footer{
    background-color: rgb(0, 0, 0);
    height: 50px;
    width: 100%;
    color: burlywood;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#enviar{
    background: burlywood;
    
}